{% extends 'app_news/base.html' %}
{% block content %}
{% load i18n %}
{% load cutes %}
<html lang='en'>
<head>
{% load static %}
<link rel="stylesheet" href="{% static '/news/css/news.css' %}">
<meta charset='UTF-8'>
<title>{% trans 'Our translation page title' %}</title>
</head>
{% if user.is_authenticated %}
<p>Hi {{ user.username }}!</p>
<p><a href="{% url 'logout' %}">Log out</a></p>
{% else %}
<p>You are not logged in.</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
<h1>Отчет продаж</h1>
<a href="{% url 'uploads' %}">Загрузить запись</a>
<br><a href="{% url 'add_news' %}">Добавить заметку</a></br>
<form method="POST" class="post-form">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Создать отчет">
{% for item in report_sales %}
<li><td align="left">Название: {{ item.name }}</td></li>
ID продукта: {{ item.id }}
Количество: {{ item.reportsales__number__sum }}
{% endfor %}
<p>Новое количество:</p>
{{ w }}
<p>{% trans 'Translated text.' %}</p>
<p>Новостей нет.</p>
{% endblock %}
</html>